language: php

php:
  - 5.6

before_script:
  - pear install PHP_CodeSniffer
  - phpenv rehash
  - travis_retry composer install --no-interaction --prefer-source

# Commands you want to run that will verify your build.
script:
  - phpunit --coverage-text
  - phpcs --standard=psr2 ./src
  - ./vendor/bin/phpmd src/ text codesize,unusedcode,naming,phpmd.xml

# fast_finish: If your build fails do not continue trying to build, just stop.
matrix:
  fast_finish: true

# Customize when the notification emails are sent.
notifications:
    on_success: never
    on_failure: always
